body {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  color: red;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-size: 20px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

footer p {
  text-align: center;
  font-size: 16px;
}

#author {
  font-weight: 600;
}

.related-author {
  font-weight: bold;
}

.related {
  list-style: none;
}

h1,
h2,
h3 {
  color: #023ead;
}

.main {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  border: 5px solid #023ead;
}

li:first-child {
  font-weight: bold;
}
