* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
body {
  border-top: 10px solid #023ead;
  position: relative;
}

h1 {
  font-size: 26px;
  color: #023ead;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

li {
  font-size: 20px;
  margin: 10px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

footer p {
  text-align: center;
  font-size: 16px;
}

#author {
  font-weight: 600;
}

.related-author {
  font-weight: bold;
}

.related {
  list-style: none;
}

h2,
h3 {
  color: #023ead;
  padding: 20px 0px;
}

.main {
  background-color: #f7f7f7;
  padding: 20px 40px;
  height: auto;
  margin-bottom: 60px;
}

nav a:link {
  margin: 20px;
  padding-top: 10px;
  display: inline-block;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #023ead;
  border-bottom: 5px solid #023ead;
  padding: 20px;
}

li:first-child {
  font-weight: bold;
}

a {
  color: #023ead;
  text-decoration: none;
}

a:visited {
  color: #023ead;
}

a:hover {
  text-decoration: underline;
  color: orangered;
  font-weight: bold;
}

.post-img {
  width: 100%;
  height: auto;
}

.container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

button {
  font-size: 22px;
  font-weight: 500;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-size: normal;
  margin-right: 5px;
}
/* 
h3 + p::first-line {
  color: red;
} */

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: yellow;
  color: black;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  padding: 5px 10px;
  top: -10px;
  right: -25px;
}

.author-img {
  float: left;
  margin-bottom: 10px;
}

.author {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  /* background-color: green; */
  width: 900px;
  float: left;
}

aside {
  /* background-color: red; */
  width: 300px;
  float: right;
}

footer {
  background-color: yellow;
}
